#wrapper .osb-www-marketing-events-portlet-admin .addresses .aui-w50 {
	float: left;
	padding: 0;
	width: 50%;
}

.osb-www-marketing-events-portlet-admin {
	.address .aui-field-input {
		width: 350px;
	}

	.addresses .aui-field {
		float: none;
	}

	.auto-complete-container #trigger {
		display: none;
	}

	.toggle-on-off-switch {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		float: left;
		position: relative;
		text-align: center;
		vertical-align: middle;
		width: 50px;

		.toggle-on-off-switch-ctrl {
			border-radius: 2px;
			cursor: pointer;
			display: block;
			overflow: hidden;
			transition: border 0.3s ease-in 0s;

			&.on {
				border: 1px solid #1BADF2;
			}

			&.off {
				border: 1px solid #1B3A6A;
			}

			&:hover.on.unlock {
				border: 1px solid #1B3A6A;
			}

			&:hover.off.unlock {
				border: 1px solid #1BADF2;
			}

			&:hover.on.unlock .toggle-on-off-switch-inner {
				margin-left: -100%;
			}

			&:hover.off.unlock .toggle-on-off-switch-inner {
				margin-left: 0;
			}

			&.on .toggle-on-off-switch-inner {
				margin-left: 0;
			}
		}

		.toggle-on-off-switch-inner {
			-moz-transition: margin 0.3s ease-in 0s;
			-o-transition: margin 0.3s ease-in 0s;
			-webkit-transition: margin 0.3s ease-in 0s;
			display: block;
			font-size: 11px;
			line-height: 10px;
			margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
			width: 200%;

			& * {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				display: block;
				float: left;
				padding: 3px 6px;
				text-align: center;
				width: 50%;
			}

			& .toggle-on-off-switch-on {
				background-color: #1BADF2;
				border-right: 8px solid #FFF;
				color: #FFF;
				text-transform: uppercase;
			}

			& .toggle-on-off-switch-off {
				background-color: #FFF;
				border-left: 8px solid #1B3A6A;
				color: #1B3A6A;
				font-size: 9px;
				padding-left: 2px;
				padding-right: 2px;
				text-transform: uppercase;
			}
		}
	}

	.lfr-textarea {
		width: 500px;
	}

	.marketing .start-date {
		width: 100%;

		.anytime {
			float: left;
			width: initial;
		}
	}

	.multiple-select {
		height: 80px;
	}

	table .inactive td {
		background-color: #FCC;
	}

	.collapse .taglib-text, .expand .taglib-text {
		text-decoration: none;
	}

	.edit-marketing-event {
		.aui-choice-label {
			font-weight: bold;
		}

		.aui-field-input-text {
			width: 350px;
		}

		.lfr-panel-basic {
			margin-bottom: 10px;

			.lfr-panel-content {
				padding-left: 0;
			}

			.lfr-panel-titlebar {
				border-bottom: 1px solid #AAA;
			}
		}

		.lfr-translation-manager-add-menu {
			margin: 0 0 5px;
		}

		.translations .label {
			display: inline-block;
			margin: 6px 3px;

			.remove, .text {
				background-color: #E0EAF1;
				border: 1px solid #B3CEE1;
				border-width: 0 1px 1px 0;
				color: #4A6B82;
				margin: 0;
				padding: 4px 8px;
				text-decoration: none;

				&:hover {
					background-color: #C4DAE9;
				}
			}
		}
	}
}