**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/build
**/build_gradle
**/node_modules
**/package-lock.json
**/test-coverage
**/tmp
**/.web_bundle_build
**/bin/.gitignore
**/dist/
.gradle
.idea
.liferay
/docker/liferay/resources/deploy
/docker/liferay/resources/osgi/modules
/docker/liferay/resources/osgi/war
test-results
/.metadata/
liferay-bundle.zip
id_rsa
id_rsa.pub
activation-key*.xml
patches
resources