version: '3.3'

networks:
  www-external:
    internal: false
  www-internal:
    internal: true

services:
  elasticsearch:
    container_name: elasticsearch
    image: elasticsearch:www-base
    networks:
      - "www-external"
      - "www-internal"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - "elasticsearch:/usr/share/elasticsearch/data"
  httpd:
    container_name: httpd
    image: httpd:www-base
    networks:
      - "www-external"
      - "www-internal"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "apache:/var/www/html"
  liferay:
    build: liferay/.
    container_name: liferay
    depends_on:
     - "mariadb"
    environment:
      - "VIRTUAL_PORT=8080"
    image: liferay:www-local
    networks:
      - "www-external"
      - "www-internal"
    user: root
    volumes:
      - "liferay:/opt/java/liferay/data"
  mariadb:
    build:
#      args:
#        DB_URL: http://mirrors/files.liferay.com/private/lrdcom/www_lportal-2017-12-18_19-00-PST.sql.gz
      context: mariadb/.
    container_name: mariadb
    environment:
      - "MYSQL_DATABASE=lportal"
      - "MYSQL_ROOT_PASSWORD=passw0rd"
      - "character-set-server=utf8mb4"
      - "collation-server=utf8mb4_unicode_ci"
    image: mariadb:www-local
    networks:
      - "www-external"
      - "www-internal"
    ports:
      - "3307:3306"
    volumes:
      - "mariadb:/var/lib/mysql"
  mockmock:
    build: mockmock/.
    container_name: mockmock
    expose:
      - "25"
    image: mockmock:www-local
    networks:
      - "www-external"
      - "www-internal"
    ports:
      - "8282:8282"
    volumes:
      - "mockmock:/home"

volumes:
  apache:
  elasticsearch:
  liferay:
  mariadb:
  mockmock:
