#wrapper {
	.accent-background {
		background-color: $accent-color;
	}

	.accent-border {
		border-color: $accent-color;
	}

	.accent-color {
		color: $accent-color;
	}

	.accent-fill {
		fill: $accent-color;
	}

	.accent-stroke {
		stroke: $accent-color;
	}

	.alt-font-background {
		background-color: $alt-font-color;
	}

	.alt-font-border {
		border-color: $alt-font-color;
	}

	.alt-font-color {
		color: $alt-font-color;
	}

	.alt-font-fill {
		fill: $alt-font-color;
	}

	.alt-font-stroke {
		stroke: $alt-font-color;
	}

	.alt-primary-background {
		background-color: $alt-primary-color;
	}

	.alt-primary-border {
		border-color: $alt-primary-color;
	}

	.alt-primary-color {
		color: $alt-primary-color;
	}

	.alt-primary-fill {
		fill: $alt-primary-color;
	}

	.alt-primary-stroke {
		stroke: $alt-primary-color;
	}

	.alt-secondary-background {
		background-color: $alt-secondary-color;
	}

	.alt-secondary-border {
		border-color: $alt-secondary-color;
	}

	.alt-secondary-color {
		color: $alt-secondary-color;
	}

	.alt-secondary-fill {
		fill: $alt-secondary-color;
	}

	.alt-secondary-stroke {
		stroke: $alt-secondary-color;
	}

	.complementary-background {
		background-color: $complementary-color;
	}

	.complementary-border {
		border-color: $complementary-color;
	}

	.complementary-color {
		color: $complementary-color;
	}

	.complementary-color-fill {
		fill: $complementary-color;
	}

	.complementary-stroke {
		stroke: $complementary-color;
	}

	.dxp-primary-background {
		background-color: $dxp-primary-color;
	}

	.dxp-primary-border {
		border-color: $dxp-primary-color;
	}

	.dxp-primary-color {
		color: $dxp-primary-color;
	}

	.dxp-primary-fill {
		fill: $dxp-primary-color;
	}

	.dxp-primary-stroke {
		stroke: $dxp-primary-color;
	}

	.element-background {
		background-color: $element-color;
	}

	.element-border {
		border-color: $element-color;
	}

	.element-color {
		color: $element-color;
	}

	.element-fill {
		fill: $element-color;
	}

	.element-stroke {
		stroke: $element-color;
	}

	.font-background {
		background-color: $font-color;
	}

	.font-border {
		border-color: $font-color;
	}

	.font-color {
		color: $font-color;
	}

	.font-fill {
		fill: $font-color;
	}

	.font-stroke {
		stroke: $font-color;
	}

	.light-background {
		background-color: #FFF;
	}

	.light-border {
		border-color: #FFF;
	}

	.light-color {
		color: #FFF;
	}

	.light-fill {
		fill: #FFF;
	}

	.light-stroke {
		stroke: #FFF;
	}

	.primary-background {
		background-color: $primary-color;
	}

	.primary-border {
		border-color: $primary-color;
	}

	.primary-color {
		color: $primary-color;
	}

	.primary-fill {
		fill: $primary-color;
	}

	.primary-stroke {
		stroke: $primary-color;
	}

	.secondary-background {
		background-color: $secondary-color;
	}

	.secondary-border {
		border-color: $secondary-color;
	}

	.secondary-color {
		color: $secondary-color;
	}

	.secondary-fill {
		fill: $secondary-color;
	}

	.secondary-stroke {
		stroke: $secondary-color;
	}

	.transparent-background {
		background-color: transparent;
	}

	.transparent-fill {
		fill: transparent;
	}
}