.scroll-nav-content-container {
	overflow-x: hidden;
	position: relative;

	.content-wrapper {
		position: relative;
	}

	.long-form {
		margin: 0 auto;
		max-width: 1200px;
		padding-left: 8em;
		padding-right: 16em;

		@include box-sizing(border-box);

		@include respond-to(tablet, phone) {
			padding: 3em 0;
		}

		@include respond-to(phone) {
			font-size: 1.1em;
			line-height: 1.6em;
		}
	}

	.micro-banner {
		background-size: cover;
		font-weight: normal;
		height: 136px;
		width: 17em;
	}

	.nav-bar-mobile {
		display: none;
		height: 32px;
		margin-bottom: 1em;

		.mobile-nav-button {
			position: absolute;
			right: 10px;
			top: 10px;

			@include transition(transform, 0.25s);

			&:hover {
				color: #1C75B9;
			}
		}
	}

	.navigation-wrapper {
		bottom: 0;
		position: absolute !important;
		right: 0;
		top: 0;
		width: 19em;
	}

	.navigation {
		background: transparent;
		bottom: 0;
		opacity: 1;
		position: absolute;
		width: 19em;
		z-index: 98;

		@include box-sizing(border-box);

		&:hover {
			opacity: 1;
		}

		&.affix {
			opacity: 0.4;
			position: fixed;

			&:hover {
				opacity: 1;
			}
		}

		&.nav-top {
			top: 3em;

			&.affix {
				top: 105px;

				@include transition(top 0.25s, opacity 0.25s ease);
			}
		}

		.nav-content {
			background: #FFF;
			padding: 1em;
		}
	}

	.social-icons .social-icon {
		background: #E3E4E5;
		border-radius: 32px;
		color: #FFF;
		display: inline-block;
		font-size: 1.1em;
		height: 32px;
		line-height: 32px;
		margin-right: 0.5em;
		text-align: center;
		text-decoration: none;
		width: 32px;

		&:hover {
			color: #FFF;
		}

		&.share-facebook:hover {
			background: #3B5998;
		}

		&.share-linkedin:hover {
			background: #0077B5;
		}

		&.share-twitter:hover {
			background: #55ACEE;
		}
	}

	.quote-section {
		margin-left: -196px;
	}
}

.hide-banner .scroll-nav-content-container .navigation.nav-top.affix {
	top: 3em;
}

@include respond-to(tablet, phone) {
	.scroll-nav-content-container {
		.content-wrapper .max-med:not(.quote) {
			max-width: 720px;
			padding-left: 1em;
			padding-right: 1em;
		}

		.navigation {
			background: rgba(255, 255, 255, 0.95);
			height: 64px;
			max-width: 320px;
			padding: 1em;
			position: fixed;
			right: 0 !important;
			top: 100% !important;
			width: 100%;

			@include transform(translate(0, -64px));
			@include transition(top 0.25s, transform 0.25s);

			&.affix {
				opacity: 1;
			}

			.nav-bar-mobile {
				display: block;
			}

			.nav-heading, .share {
				display: none;
			}

			&.nav-open {
				height: 100%;
				top: 105px !important;

				@include transform(translate(0, 0));
				@include transition(top 0.25s, transform 0s);

				.nav-bar-mobile .mobile-nav-button {
					@include transform(scale(1.25));
				}

				.nav-content {
					background: initial;
					height: 100%;
					overflow-y: auto;
					padding: 1em 0;

					@include box-sizing(border-box);
				}
			}
		}

		.navigation-wrapper {
			width: 100%;
		}

		.quote-section {
			margin-left: 0;
		}
	}

	.hide-banner .navigation {
		&:not(.nav-open) {
			@include transform(translate(0, 0));
		}

		&.nav-open {
			top: 45px !important;
		}
	}
}