@import "bourbon";
@import "mixins";

$standardSpacing: 1em;

html {
	#wrapper .preview-block a:hover {
		border-color: #1C75B9;
	}

	.modal {
		background-color: #FFF;
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		left: 50% !important;
		max-width: 600px;
		overflow: auto;
		position: absolute;


		@include respond-to(phone) {
			width: 100% !important;

			@include transform(translateX(-50%));
		}
	}

	.osb-www-marketing-events-portlet {
		input[type="checkbox"] {
			margin: 0;
		}

		input[type='text'], label, select {
			font-size: 1em;
			font-weight: 300;
		}

		input[type='text'], select {
			background-color: transparent;
			border-radius: 0;
			height: auto;
			line-height: 1.5em;
			width: 220px;

			@include appearance(none);
			@include box-sizing(border-box);
		}

		select {
			background: url(@theme_image_path@/custom/form_dropdowns.svg) no-repeat right -45px;
			margin-bottom: 0;
			margin-right: 1em;
		}

		input, select, .control-group {
			@include respond-to(phone) {
				width: 100%;
			}
		}

		.filter-label {
			margin: 0.25em;

			a {
				background: #909295;
				color: #FFF;
				margin-right: 0.15em;

				&:hover {
					background: #5D5F62;
					text-decoration: none;
				}
			}
		}

		.header {
			text-align: center;

			.input-text-wrapper {
				display: inline;
				margin-left: 3em;
			}
		}

		.header-content {
			margin-bottom: 25px;
			text-align: left;
		}

		.highlighted-option {
			background-color: #909295;
			color: #FFF;
		}

		.loading-animation {
			margin-top: $standardSpacing;
			padding-top: 40px;
		}

		.marketing-event {
			a {
				height: 100%;
				min-height: 320px;
			}

			.link-tile-wrapper {
				padding: 3em 1.5em 0.5em;
				
				img, svg {
					max-height: 80px;
					max-width: 160px;
					padding-bottom: 1.5em;
				}

				.marketing-event-header {
					align-items: center;
					display: flex;
					height: 120px;
					justify-content: center;
				}
			}
		}
	}

	.osb-www-marketing-events-portlet-popup-content {
		&.modal-content {
			overflow: visible;
		}

		button.close {
			box-shadow: none;
			height: 50px;
			width: 50px;

			@include transform(translateY(0));

			&, &:focus, &:hover {
				opacity: 1;
			}
		}

		.modal-body {
			overflow: visible;
		}

		.modal-header {
			border-width: 0;
			padding: 0;
		}

		.jsp-view-marketing-event {
			video {
				width: 100%;
			}

			.marketing-event-content {
				margin: 20px 0;

				a {
					text-decoration: none;
				}

				.summary {
					margin: 20px 10px;
				}
			}

			.marketing-event-footer {
				padding-bottom: $standardSpacing;
				text-transform: uppercase;

				.downloads {
					padding-bottom: $standardSpacing;
				}
			}

			.marketing-event-image {
				margin-top: 30px;
				max-height: 200px;
				max-width: 720px;
			}

			.share-icon {
				cursor: pointer;
			}
		}
	}

	.yui3-skin-sam .yui3-widget-mask {
		background: rgba(0, 0, 0, 0.2);
	}
}